section#header .nav .act{
    color: red;
}

.container .jumbotron .errorMessage{
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: blanchedalmond;
    color: red;

}

.jumbotron{
    width: 50%;
    margin: 100px auto;

}
.errorDetected{
    border-color: red; 
    color: red;

}